@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400&family=Fascinate&family=Lobster&family=M+PLUS+1p:wght@300&family=M+PLUS+Rounded+1c:wght@100&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;1,100&family=Ubuntu:ital,wght@1,300&family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  /* font wasnt applyin on tailwind.config file so  i applied here */
  font-family: "Montserrat",;
}
